{% extends 'home/index.html' %}

{% block mi_titulo %}
<title>Acerca de nosotros</title>
{% endblock mi_titulo %}

{% block h1_texto_header %}
Acerca de nosotros
{% endblock h1_texto_header %}

{% block index_contenido %}
<h1>Federico Carota</h1>
<p>
28 años</br>
Lic. Administracion de Empresas</br>
Estudiante en Coder House</br>
</p>
<h1>Federico Fernandez Mardaraz</h1>
<p>
31 años</br>
Estudiante de la Lic. en Ciencia de Datos</br>
Estudiante en Coder House</br>
</p>
{% endblock index_contenido %}