{% extends 'home/index.html' %}

{% block mi_titulo %}
<title>Usuarios</title>
{% endblock mi_titulo %}

{% block h1_texto_header %}
Usuarios
{% endblock h1_texto_header %}

{% block index_contenido %}
<a class="navbar-brand" href={% url 'crear_usuario' %}>Crear Usuario</a>
<p> Listado de usuarios </p>

<form action={% url 'ver_usuarios' %} method="GET">
    <p>
    {{formulario}}
    <button>Buscar</button>
    </p>
</form>

<p>
    {% if personas %}

        <table>
        <tr>
            <th width="180px">Apellido</th>
            <th width="180px">Nombre</th>
            <th width="50px">Edad</th>
            <th width="180px">Fecha de Nacimiento</th>
        </tr>
        {% for persona in personas %}
            <tr>
            <td>{{persona.apellido}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.edad}}</td>
            {% if persona.fecha_nacimiento %}
                <td>{{persona.fecha_nacimiento}}</td>
            {% else %}
                <td></td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>

    {% else %}
        <p>No hay usuarios creados o la busqueda no coincide.</p>
    {% endif %}

</p>
{% endblock index_contenido %}