{% extends 'home/base.html' %}

{% block mi_titulo %}
<title>Mensajes</title>
{% endblock mi_titulo %}

{% block mi_contenido %}
<p></p>
<p><a class="navbar-brand" href={% url 'enviar_mensaje' %}>Enviar mensaje</a></p>
<p> Mensajes recibidos: </p>
<p>
    {% if object_list %}

        <table>
        <tr>
            <th width="180px">De</th>
            {% comment %} <th width="180px">Para</th> {% endcomment %}
            <th width="180px">Asunto</th>
            <th width="180px">Fecha_creacion</th>
        </tr>
        {% for mensaje in object_list %}
            {% if mensaje.destinatario|stringformat:'s' == request.user.username|stringformat:'s' %}
                <tr>
                <td>{{mensaje.remitente}}</td>
                {% comment %} <td>{{mensaje.destinatario}}</td> {% endcomment %}
                <td><a href={% url 'ver_mensaje' mensaje.id %}>{{mensaje.asunto}}</a></td>
                <td>{{mensaje.fecha_creacion}}</td>
                
                <td>
                    <a href={% url 'eliminar_mensaje' mensaje.id %}>Eliminar</a>
                </td>
                
                </tr>
            {% endif %}
        {% endfor %}
        
        </table>

    {% else %}
        <p>No hay mensajes recibidos</p>
    {% endif %}

</p>
{% endblock mi_contenido %}