{% extends 'home/base.html' %}

{% block mi_titulo %}
<title>Posts</title>
{% endblock mi_titulo %}

{% block mi_contenido %}
<p></p>
<p><a class="navbar-brand" href={% url 'crear_post' %}>Escribir Post</a></p>
<form action={% url 'ver_post' %} method="GET">
    <p>
    {{formulario}}
    <button>Buscar</button>
    </p>
</form>

<p> Listado de posts: </p>
<p>
    {% if object_list %}

        <table>
        <tr>
            <th width="180px">Titulo</th>
            <th width="180px">Subtitulo</th>
            <th width="180px">Autor</th>
            <th width="180px">Fecha_creacion</th>
        </tr>
        {% for post in object_list %}
        <tr>   
            <td><a href={% url 'ver_post' post.id %}>{{post.titulo}}</a></td>
            <td>{{post.subtitulo}}</td>
            <td>{{post.autor}}</td>
            <td>{{post.fecha_creacion}}</td>
            <td>
            <a href={% url 'editar_post' post.id %}>Editar</a>
            </td>
            <td>
            <a href={% url 'eliminar_post' post.id %}>Eliminar</a>
            </td>
            </td>
            </tr>
            
        {% endfor %}
        
        </table>

    {% else %}
        <p>No hay posts creados o la busqueda no coincide.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}