{% extends 'home/base.html' %}

{% block mi_titulo %}
<title>Posts</title>
{% endblock mi_titulo %}

{% block mi_contenido %}
<a class="navbar-brand" href={% url 'crear_post' %}>Crear Post</a>
<p> Listado de posts: </p>

<form action={% url 'ver_post' %} method="GET">
    <p>
    {{formulario}}
    <button>Buscar</button>
    </p>
</form>

<p>
    {% if object_list %}

        <table>
        <tr>
            <th width="180px">Modelo</th>
            <th width="180px">Marca</th>
            <th width="50px">Puertas</th>
            <th width="180px">Color</th>
            <th width="180px">Chasis</th>
            <th width="180px">Descripcion</th>
        </tr>
        {% for post in object_list %}
        <tr>   
            <td>{{post.modelo}}</td>
            <td>{{post.marca}}</td>
            <td>{{post.cant_puertas}}</td>
            <td>{{post.color}}</td>
            <td>{{post.chasis}}</td>
            <td>{{post.descripcion  | safe }}</td>
            <td>
            <a href={% url 'editar_post' post.id %}>Editar</a>
            </td>
            <td>
            <a href={% url 'eliminar_post' post.id %}>Eliminar</a>
            </td>
            <p>
            <a href={% url 'ver_post' post.id %}>{{post.modelo}}</a>
            </td>
            </tr>
            
        {% endfor %}
        
        </table>

    {% else %}
        <p>No hay posts creados o la busqueda no coincide.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}